{% extends 'base.html' %}

{% block content %}

<a style="float: right;" class="btn btn-primary" href="{% url 'minhas-viagens' %}">
    Voltar
</a>
<h2>Viagem</h2>
{% if viagem.foto %} 
<img id="previewImage" src="{{ viagem.foto.url }}" class="rounded mx-auto d-block m-3" height="300px" width="500px">
{% else %}
<img id="previewImage" class="rounded mx-auto d-block m-3" height="300px" width="500px" style="display: none !important;">

{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <p>{{ field.label_tag }} {{ field }} </p>
    {% if form.errors %}
    {% for error in field.errors %}
    <p class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </p>
    {% endfor %}
    {% endif %}
    {% if field.help_text %}
    <p class="form-text">{{ field.help_text|safe }}</p>
    {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary">Salvar</button>
    {% if viagem %}
    <a href="{% url 'deletar-viagem' pk=viagem.pk %}" class="btn btn-danger">Deletar</a>
    <a style="float: right;" class="btn btn-primary float-right"
        href="{% url 'criar-ponto-turistico' id_viagem=viagem.pk %}">
        Adicionar pontos turísticos
    </a>
    {% endif %}

</form>

{% endblock %}

{% block js %}
<script>
    id_foto.onchange = evt => {
        const [file] = id_foto.files
        if (file) {
            previewImage.src = URL.createObjectURL(file);
            previewImage.style.display = 'block';
        }
    }
</script>
{% endblock %}