{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>Meu perfil</h2>

<form method="POST" enctype="multipart/form-data">
    {% if user.perfil.foto %}
    <img id="previewImage" class="rounded mx-auto d-block m-3" src="{{ user.perfil.foto.url }}" height="300px" width="300px">
    {% else %}
    <img id="previewImage" class="rounded mx-auto d-block m-3" src="{% static 'assets/default-avatar.jpeg' %}" height="300px" width="300px">
    {% endif %}

    {% csrf_token %}
    {% for field in form_user %}
        <p>{{ field.label_tag }} {{ field }} </p>
        {% if form_user.errors %}
            {% for error in field.errors %}
            <p class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </p>
            {% endfor %}
        {% endif %}
        {% if field.help_text %}
        <p class="form-text">{{ field.help_text|safe }}</p>
        {% endif %}
    {% endfor %}
    {% for field in form_perfil %}
        <p>{{ field.label_tag }} {{ field }} </p>
        {% if form_perfil.errors %}
            {% for error in field.errors %}
            <p class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </p>
            {% endfor %}
        {% endif %}
        {% if field.help_text %}
        <p class="form-text">{{ field.help_text|safe }}</p>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Atualizar Perfil</button>
</form>

{% endblock %}

{% block js %}
<script>
    id_foto.onchange = evt => {
        const [file] = id_foto.files
        if (file) {
            previewImage.src = URL.createObjectURL(file);
        }
    }
</script>
{% endblock %}